@font-face {
  font-family: "Pokemon";
  font-style: normal;
  font-weight: normal;
  src: local('Pokemon Fire Red Regular'), url('../../assets/font.ttf') format('woff');
}

.lifebar {
  position: absolute;
  top: 200px;
  left: 200px;
  max-width: 200px;
  height:auto ;
}

.lifebar-enemy {
  position: absolute;
  left:0px;
  top: 50px;
  max-width: 200px;
  height:auto ;
}

.black-enemy{
  position: absolute;
  width: 100px;
  height: 25px;
  background-color: black;
  left: 75px;
  top: 70px;
}

.black-you{
  position: absolute;
  width: 160px;
  height: 40px;
  background-color: black;
  top: 210px;
  left: 230px;
}

.hp-enemy{
  position: absolute;
  width: 100px;
  height: 25px;
  background-color: green;
  left: 78px;
  top: 70px;
  opacity: 1;
}

.hp-you{
  position: absolute;
  height: 40px;
  background-color: green;
  top: 210px;
  left: 292px;
  width:97px;
}

.level{
  font-size: 10px;
  position: absolute;
  top: 210px;
  left: 371px;
  height:auto ;
  font-family: "Pokemon";
  opacity:0.8;
}

.level-enemy{
  font-size: 10px;
  position: absolute;
  top: 59px;
  left: 160px;
  height: 40px;
  font-family: "Pokemon";
  opacity: 0.8;
}

.pokemon-name{
  font-size:11px;
  position: absolute;
  top: 213px;
  left: 223px;
  max-width: 10%;
  height:auto ;
  font-family: "Pokemon";
  opacity:0.8;
}

.pokemon-name-enemy{
  font-size: 12px;
  position: absolute;
  top: 62px;
  left: 11px;
  height: 40px;
  font-family: "Pokemon";
  opacity:0.8;
}
